<div class="container">
    <div class="content">
        <ion-slides #slides pager="true" [options]="slideOpts">
            <ion-slide class="slide">
                <div class="slide-content">
                    <img src="./assets/test/test-image-1.svg" />
                    <div class="title">Bem vindo ao {{ appName.toUpperCase() }}!</div>
                    <div class="subtitle">
                        Descubra um mundo novo de aventuras e muitas emoções.
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-content">
                    <img src="./assets/test/test-image-2.svg" />
                    <div class="title">
                        Histórias magníficas.
                    </div>
                    <div class="subtitle">
                        Todo dia acontece uma nova aventura no mundo dos RPGs. Aqui você pode fazer criar a sua própria.
                    </div>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="slide-content">
                    <img src="./assets/test/test-image-3.svg" />
                    <div class="title">
                        Criatividade sem limites.
                    </div>
                    <div class="subtitle">
                        Tem uma nova ideia? Crie seu próprio RPG. Sempre há uma nova história que pode ser contada.
                    </div>
                </div>
            </ion-slide>
        </ion-slides>
    </div>
</div>
<div class="footer">
    <div class="custom-button" (click)="presentRegister()">
        ME AVENTURAR
    </div>
    <div class="divider"></div>
    <div class="custom-button" (click)="presentLogin()">
        FAZER LOGIN
    </div>
</div>