ion-footer {
    position: fixed;
    bottom: 0;
}

ion-slides {
    height: 100vh;
    background-color: #000;
    background-image: url('/assets/img/background-onboarding.png');
    background-size: cover;
    // background-image: linear-gradient(35deg, #8f98fc, #a3a8e8);
}

ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}

ion-button {
    color: #fff;
}

h1 {
    color: #fff;
}

.login {
    background-color: #fff;
}

.login:hover {
    background-color: #d2d2d2;
}

.register {
    border: 2px solid #fff;
    color: #fff;
}

.register:hover {
    background-color: #ffffff1a;
}

.buttons-init {
    display: grid;
    grid-template-rows: 1fr 1fr;
}