<ion-content fullscreen>
    <div class="container">
        <div class="content">
            <ion-slides #slides pager="true" [options]="slideOpts">
                <ion-slide>
                    <div class="slide-content">
                        <img src="./assets/unDraw/undraw_running_wild_ni0y.svg" />
                        <div class="title">Bem vindo ao {{ appName.toUpperCase() }}.</div>
                        <div class="subtitle">
                            Descubra um universo de emoções e aventuras, onde você pode ser quem você quiser!
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="slide-content">
                        <img src="./assets/unDraw/undraw_book_lover_mkck.svg" />
                        <div class="title">
                            Um mundo de histórias.
                        </div>
                        <div class="subtitle">
                            Todos os dias centenas de histórias acontecem. Você escolhe se entra em uma ou mergulha no seu próprio mundo.
                        </div>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="slide-content">
                        <img src="./assets/unDraw/undraw_friends_online_klj6.svg" />
                        <div class="title">
                            Jogue do seu jeito.
                        </div>
                        <div class="subtitle">
                            No {{ appName.toUpperCase() }} você atua em histórias já criadas pelos outros usuários ou cria a sua e compartilha com os amigos. Entre e escolha!
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <div class="footer">
        <div class="custom-button" routerLink="/register" routerDirection="forward">
            ME AVENTURAR
        </div>
        <div class="divider"></div>
        <div class="custom-button" routerLink="/login" routerDirection="forward">
            FAZER LOGIN
        </div>
    </div>
</ion-content>