$color: #9528d9;
.container {
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color;
    .content {
        margin: auto;
    }
    .close-modal {
        position: fixed;
        top: 20px;
        right: 30px;
    }
    .title {
        font-size: 25px;
        font-weight: 600;
        margin-top: 4%;
    }
    .subtitle {
        font-weight: 500;
        margin-bottom: 5%;
    }
    .name-input {
        border: 1px solid;
        border-width: 0 0 1px 0;
        margin-top: 5%;
    }
}

img {
    width: 80%;
    max-width: 300px;
}

button {
    margin-top: 10%;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    font-weight: 600;
    font-size: 16px;
}

button:disabled {
    border-color: #999;
    color: #999;
}

.ion-activatable {
    position: relative;
    overflow: hidden;
}

.login {
    font-size: 14px;
    margin-top: 9%;
}

.chip {
    margin-bottom: 2%;
}