<div class="container">
    <div class="close-modal custom-button" (click)="modal.dismiss()">Cancelar</div>
    <div class="content">
        <img src="./assets/test/test-image-4.svg" />
        <div class="title">
            Iniciar a aventura!
        </div>
        <div class="subtitle">
            Vamos começar nos conhecendo melhor
        </div>
        <ion-input name="fullname" class="name-input" placeholder="Digite seu nome" [(ngModel)]="name"></ion-input>
        <button class="ion-activatable" (click)="next()" [disabled]="!name"> Continuar
            <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </button>
        <div class="login custom-button" (click)="modal.dismiss({ todo: 'presentLogin' })">Já tenho uma conta</div>
    </div>
</div>