$color: #9528d9;
.container {
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color;
    overflow: auto;
    .open-verification {
        position: fixed;
        top: 20px;
        left: 30px;
    }
    .content {
        margin: auto;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        transition-property: all;
        .title {
            font-size: 25px;
            font-weight: 600;
            margin-top: 4%;
        }
        .subtitle {
            font-weight: 500;
            margin-bottom: 10%;
        }
        .custom-input {
            transition: transform 0.5s;
            padding-left: 0;
            &.name-input {
                border: 1px solid;
                border-width: 0 0 1px 0;
                margin-top: 5%;
            }
        }
        .phone-email-container {
            height: 172px;
            overflow: hidden;
            display: grid;
            align-content: center;
            .chip {
                margin-bottom: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .arrow {
                width: 20px;
                margin-left: 3px;
                transition: all .2s linear;
                &.turn {
                    transform: rotate(90deg);
                }
            }
            .expandable {
                transition: all 1s;
                overflow: hidden;
                max-height: 1000px;
                height: auto;
                &.hidden {
                    transition-duration: 0.2s;
                    max-height: 0 !important;
                }
                .input {
                    border: 1px solid;
                    border-width: 0 0 1px 0;
                    margin-bottom: 12px;
                }
            }
        }
        .buttons-social {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 10px;
            .custom-social-button {
                cursor: pointer;
                width: 35px;
                border-radius: 50%;
                height: 35px;
                display: flex;
                * {
                    margin: auto;
                }
            }
            .google {
                justify-self: end;
                margin-right: 5px;
                background-color: #DB4437;
                * {
                    width: 25px!important;
                }
            }
            .facebook {
                margin-left: 5px;
                background-color: #4267B2;
                * {
                    width: 20px!important;
                }
            }
        }
        .login-register {
            font-size: 14px;
            margin-top: 10%;
        }
        img {
            width: 80%;
            max-width: 300px;
        }
    }
}

.close-modal {
    position: fixed;
    top: 20px;
    right: 30px;
}

button {
    padding: 10px;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    font-weight: 600;
    font-size: 16px;
    &.ion-activatable {
        position: relative;
        overflow: hidden;
    }
    &:disabled {
        border-color: #999;
        color: #999;
    }
}

.custom-button {
    cursor: pointer;
    outline: none;
}

h1 {
    font-size: 1.4em !important;
}

.welcome {
    position: absolute;
    top: 120px;
    width: 100%;
    text-align: center;
    color: #fff;
    left: 0;
}