$color: #9528d9;
.container {
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $color;
    overflow: auto;
    .close-modal {
        position: fixed;
        top: 20px;
        right: 30px;
    }
    .open-verification {
        position: fixed;
        top: 20px;
        left: 30px;
    }
    .content {
        margin: auto;
        transition-delay: 0.5s;
        transition-duration: 0.5s;
        transition-property: all;
        .title {
            font-size: 25px;
            font-weight: 600;
            margin-top: 4%;
        }
        .subtitle {
            font-weight: 500;
            margin-bottom: 10%;
        }
        .phone-email-container {
            height: 172px;
            overflow: hidden;
            display: grid;
            align-content: center;
            .chip {
                margin-bottom: 2%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .arrow {
                width: 20px;
                margin-left: 3px;
                transition: all .2s linear;
                &.turn {
                    transform: rotate(90deg);
                }
            }
            .expandable {
                transition: all 1s;
                overflow: hidden;
                max-height: 1000px;
                height: auto;
                &.hidden {
                    transition-duration: 0.2s;
                    max-height: 0 !important;
                }
                .input {
                    border: 1px solid;
                    border-width: 0 0 1px 0;
                    margin-bottom: 12px;
                }
            }
        }
        .buttons-social {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 10px;
            .custom-social-button {
                cursor: pointer;
                width: 35px;
                border-radius: 50%;
                height: 35px;
                display: flex;
                * {
                    margin: auto;
                }
            }
            .google {
                justify-self: end;
                margin-right: 5px;
                background-color: #DB4437;
                * {
                    width: 25px!important;
                }
            }
            .facebook {
                margin-left: 5px;
                background-color: #4267B2;
                * {
                    width: 20px!important;
                }
            }
        }
        .register {
            font-size: 14px;
            margin-top: 10%;
        }
        img {
            width: 80%;
            max-width: 300px;
        }
    }
}

button {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border-radius: 25px;
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
    font-weight: 600;
    font-size: 16px;
    &.ion-activatable {
        position: relative;
        overflow: hidden;
    }
    button {
        margin-top: 10px;
    }
}

button:disabled {
    border-color: #999;
    color: #999;
}

.full {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9528d947;
    z-index: 2;
    .title {
        color: #9528d9;
        font-size: 15px;
        padding: 0 10px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 400;
    }
    &.hidden {
        max-height: 0 !important;
        overflow: hidden;
        transform: translateY(100vh);
        * {
            transform: scale(0)!important;
        }
    }
    .full-container {
        background-color: #fff;
        padding: 11px;
        border-radius: 10px;
        text-align: center;
        transition-duration: 0.5s;
        transition-property: all;
        max-width: 80%;
    }
    #recaptcha {
        transform: scale(0.8);
        display: grid;
        justify-content: center;
    }
    button {
        margin-top: 10px;
    }
    .inputs {
        display: flex;
    }
    ion-input {
        height: 60px;
        color: #9528d9;
        font-size: 39px;
        word-spacing: 0px;
        letter-spacing: 6vw;
        &::placeholder {
            color: lighten(#9528d9, 20%) !important;
        }
    }
}

.invalid {
    border-color: #f00!important;
    color: #f00;
}