<ion-content>
    <ion-slides #slides (ionSlideWillChange)="changeSlide()" pager="true">
        <ion-slide>
            <h1>Introdução sobre o APP</h1>
        </ion-slide>
        <ion-slide>
            <h1>Falando sobre jogar</h1>
        </ion-slide>
        <ion-slide>
            <h1>Falando sobre criar RPGs</h1>
        </ion-slide>
        <ion-slide>
            <div>
                <div class="welcome">
                    <h1>Tela de boas vindas</h1>
                </div>
                <div class="buttons-init">
                    <div class="custom-button login" (click)="goto('login')">
                        Já sou usuário
                    </div>
                    <div class="custom-button register" (click)="goto('register')">
                        Quero me registrar
                    </div>
                </div>
                <social-login></social-login>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="slides.slidePrev()" [hidden]="isBeginning">Voltar
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="slides.slideNext()" [hidden]="isEnd">Próximo
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>