<ion-content>
    <div>
        <div class="welcome">
            <h1>Bem vindo de volta!</h1>
        </div>
        <div class="form">
            <div class="container">
                <ion-input [(ngModel)]="phone" [class.hidden]="hide_phone" debounce=10 (ionChange)="ionChange()"
                    name="phone" class="input" type="text" placeholder="Digite seu telefone" autocomplete="on"
                    autocorrect="on" inputmode="tel" spellcheck type="tel" [brmasker]="{phone: true,len:14}">
                </ion-input>
                <ion-input [(ngModel)]="email" [class.hidden]="hide_email" debounce=10 (ionChange)="ionChange()"
                    name="email" class="input" type="text" placeholder="Ou o seu e-mail" autocomplete="on"
                    autocorrect="on" inputmode="email" spellcheck type="email">
                </ion-input>
                <button class="button-send" (click)="sendLink()" [disabled]="!form_valid">Enviar link</button>
                <div class="register" (click)="goto('register')">
                    Ainda não tem login?<br>
                    Clique aqui para se registrar
                </div>
            </div>
        </div>
        <social-login></social-login>
    </div>
</ion-content>